nav {
    height: 2em;
    width:100%;
    background-color:#5B5B35;
    font-size: 1.25em;
    margin: 0;
    display: flex;
    justify-content: right;
    box-shadow: 2px 5px 2px 0px #18180E;
    position: absolute;
    
    
}
.nav-item {
    margin: 5px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #252516;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}
.nav-item:hover {
    color: #727242;
}

h1 {
    font-family: 'Zeyada';
    display: flex;
    color: #252516;
    
    
    
}
#home-heading {
    margin-top: 5em;
    margin-right: 6em;
    margin-bottom: 0px;
    font-size: 3.5em;
    justify-content: right;
}
.heading {
    justify-content: center;
    margin-top: 1em;
    font-size: 4em;
}
h3,h5 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    margin-top: 2px;
    color: #252516;
    font-size: 1.75em;
    justify-content: right;
}
h3 {
    margin-right: 13em;
}
h5 {
    margin-right: 14em;
}
#first {
    margin-top: 0px;
    background-color: #f8f8e6;
    height:50em;
    width: 100%;
    


}
#second {
    background-color: white;
    color: #252516;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
body {
    display: flex;
    flex-direction: column;
    margin:0px;
}
#first-inner {
    display: flex;
    justify-content: right;
    flex-direction: column;
    margin-left: 40em;
}
#second-inner {
    
    display: flex;
    justify-content: flex-start;
    margin-top: 0;

}
#bio-p {
    color: #252516;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    margin: 1.5em 3.5em 1.5em 3.5em;
    text-align: center;
}
#bio-img {
    border-radius: .25em;
    position: absolute;
    box-shadow: 2px 5px 2px 0px #18180E;
    display: block;
    margin-left:40em;
    margin-right: auto;
    
}
